html{color:#333;background:#fff}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,th,var,optgroup{font-style:normal;font-weight:400}li{list-style:none}caption{text-align:left}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select,button,option{font-family:inherit;font-size:inherit;font-weight:inherit}h1,h2,h3,h4,h5,h6,input,textarea,select,button{font-size:100%}legend{color:#000}q:before,q:after{content:''}
body{font:15px/1.5 Monaco,tahoma, arial, \5b8b\4f53, sans-serif;-webkit-text-size-adjust:none;}
/* 淘宝建议链接色 */
button{border:0 none;}
a{color:#36c;text-decoration:none;}
a:hover{color:#f60;text-decoration:none;}
img{vertical-align:middle;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,input,textarea,select,button{font-size:100%;font-weight:normal;}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden}.clearfix{display:inline-block}/* Hides from IE-mac \*/* html .clearfix {height:1%}.clearfix {display:block}/* End hide from IE-mac */
.hidden {display:none !important;}
.visHidden{visibility:hidden!important;}


/*html5 reset*/
section,article,aside,header,footer,nav,dialog,figure,menu{display:block;padding:0;margin:0;}
/*去除safari默认会在点击元素上短暂显示一个灰色半透明背景,(采用事件代理时，点击内部元素会让外部容器显示灰色半透明背景)*/
*{-webkit-tap-highlight-color: rgba(0,0,0,0);}
		
